body{
  font-family: Roboto, sans-serif;
  color: #5a5c69;
}


.container{
  padding: 20px;
}
.dash{
  font-weight: 300;
  
}

.simple-card-container{
  background-color: white;
  border-radius: 6px;
  filter: drop-shadow(0 0 0.75rem #5a5c695b);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simple-card-title{
  margin:0px 0px 0.5em 0px;
  font-size: .8em;
}
.simple-card-content{
  margin:0px 0.8em 0px 0px;
}
.icon{
  font-size: 2em;
  color: #d8dbe7;
  margin-left: 0.8em;
  
}
.progress-bar{
  width: 100%;
  align-self: flex-end;
  margin-bottom: 10px;
  
}

.simple-card-block{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8em;
}

/* ============= Block Two Graphs ============ */
.block-two-container{
  display:grid;
  gap: 0.8em;
  grid-template-columns: 2fr 1fr;
}

.graph-info, .pie-info{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.graph-container, .pie-container{
  
  background-color: white;
  filter: drop-shadow(0 0 0.75rem #5a5c695b);
  padding: 20px;
  margin-top: 1.5em;
  border-radius: 6px;
}
.graph-title, .pie-title{
  color:#4e73df ;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: #5a5c6959 solid 0.5px;
}
.project-detail{
  display: flex;
  justify-content: space-between;
}





/* ========== Block Three ================   */
.block-three-container{
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8em;
  align-items: start
}

.title{
  color:#4e73df ;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: #5a5c6959 solid 0.5px;
}
.project-container{
  margin-top: 0.8em;
  background-color: white;
  border-radius: 6px;
  filter: drop-shadow(0 0 0.75rem #5a5c695b);
  padding: 25px;
}
.single-project{
  margin-top: 0.6em;
}
.project-sub-detail{
  margin: 0.8em 0em;
}
.illustration-img{
  width: 45%;
  margin-top: 50px;
 }
.img-warpper{
  text-align: center;
}

.color-cards-title, .color-code{
  margin: 0;
  font-weight: 400;
}
.color-cards{
  padding: 25px;
  border-radius: 6px;
}
.color-card-container{
  margin-top: 0.8em;
  display: grid;
  gap: 1.5em;
  filter: drop-shadow(0 0 0.75rem #5a5c695b);
  grid-template-columns: 1fr 1fr;
}


/* =========== Tablet View =============== */
@media (max-width : 980px) {
  .simple-card-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8em;
  }
  .block-two-container{
    display:grid;
    gap: 0.8em;
    grid-template-columns: 1fr;
  }
  .block-three-container{
    grid-template-columns: 1fr;
  }

}


/* ============= Mobile View ================== */
@media (max-width : 600px){
  .simple-card-block{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.8em;
  }

 .block-two-container{
    display:grid;
    gap: 0.8em;
    grid-template-columns: 1fr;
  }
  .block-three-container{
    grid-template-columns: 1fr;
  }
}